<%= form_tag( '/search', :method => 'get' ) do %>
  <h3><%= label_tag(:keywords, "Enter one or more keywords (separated by commas)") %></h3>
  <%= text_field_tag(:keywords, params[:keywords], class: "form-control") %>
  <h3>Or use the filters below</h3>
  <div>

    <% @filters.each do |this_filter|
      this_index = @filters.index(this_filter) %>
      <div>
        <a class="btn btn-lg btn-primary btn-header collapsed" role="button" data-toggle="collapse" href="#collapseFilter<%= this_index %>" aria-expanded="false" aria-controls="collapseFilter<%= this_index %>">
        <span class="glyphicon glyphicon-menu-down"></span>&nbsp;<%= this_filter.display_name %></a>
        <div class="collapse" id="collapseFilter<%= this_index %>">
          <div style="max-height:400px; overflow-y:scroll;">
            <% $filter_values[this_index].each do |item| %>
              <p class="filter-option">
                <input value="<%= item.field_value %>" class="checkbox-input" type="checkbox" name="<%= this_filter.custom_filter %>[]" id="<%= item.field_value %>"
                  <% if ( params[this_filter.custom_filter].present? && params[this_filter.custom_filter].include?(item.field_value) ) %> checked <% end %> />
                <label class="checkbox-label" for="<%= item.field_value %>"><%= item.field_value %></label>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    &nbsp;
    <!-- :name => nil prevents the submit button to get passed as an URL parameter -->
    <%= submit_tag("Filter Results", class: 'btn btn-primary btn-lg input-wide', :name => nil ) %>
    &nbsp;
  </div>

<% end %>
