  <div class="row">
    <div class="overlay col-md-8 col-md-offset-2">
    	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <h2>Hi, <%= current_user.login %>! Let's help find the right dental program for you.</h2>

      <%= render 'form' %>

      <a name="all-schools"></a>
      <h2><%= pluralize($programs.size, 'Dental School') %></h2>

      <%= render 'show_programs' %>

    </div>
  </div>
