<div class="row">
  <div class="overlay col-md-8 col-md-offset-2">
    <h3>Welcome, <%= @display_username %></h3>
    <% if session[:user_role] == 'admin' %>
      <h4><%= link_to( session[:school_display] , {:controller => 'programs', :action => 'information', :id => [@id, session[:school_display].parameterize].join("-")} ) %></h4>
    <% end %>
    <%= render 'form' %>

    <a name="all-schools"></a>
    <h2><%= pluralize(@programs.size, 'Dental School') %></h2>

    <%= render 'show_programs' %>

  </div>
</div>
