  <div class="search-page row overlay">
    <div class="overlay col-sm-5 col-md-4 col-lg-4">
    <p>&nbsp;</p>
      <a id="btn-search-filters" class="btn btn-lg btn-primary btn-header collapsed nodisplay" role="button" data-toggle="collapse" href="#collapseAllFilters" aria-expanded="false" aria-controls="collapseAllFilters"><span class="glyphicon glyphicon-menu-down nodisplay"></span> Search Filters</a>
      <div class="collapse in" id="collapseAllFilters">

        <%= render 'form' %>

      </div>
    </div>

    <div class="overlay col-sm-7 col-md-8 col-lg-8">
      <br />
      <h4>Filtered by:</h4>

      <% if ( !params['keywords'].blank? ) %>
        <p><span class="info-subhed">Keywords:</span> <%= params['keywords'] %></p>
      <% end %>

      <% @values_to_search.each do |these_values|
        if ( !these_values.nil? )

          index = @values_to_search.index(these_values) %>
          <p><span class="info-subhed"><%= @filters[index].display_name %></span> <%= these_values.tr("'","") %></p>

        <% end
      end %>

      <p><%= link_to( 'Show all schools' , {:action => 'index'}, :class => 'btn btn-primary btn-sm' ) %></p>

      <h2>Search result: <%= pluralize(@programs.size, 'Dental School') %></h2>

      <%= render 'show_programs' %>

    </div>
  </div>
