  <div class="row white-bg">
    <div class="col-sm-5 col-md-4 col-lg-3">
    <p>&nbsp;</p>
      <a id="btn-search-filters" class="input btn btn-lg btn-filter btn-search-page" role="button" data-toggle="collapse" href="#collapseAllFilters" aria-expanded="false" aria-controls="collapseAllFilters"><span class="glyphicon glyphicon-menu-down"></span> Search Filters</a>
      <div class="collapse in" id="collapseAllFilters">
        <%= form_tag('/search') do %>
          <a class="input btn btn-lg btn-filter btn-search-page" role="button" data-toggle="collapse" href="#collapseFilterType" aria-expanded="false" aria-controls="collapseFilterType">
          <span class="glyphicon glyphicon-menu-down"></span> Type of Institution</a>

          <div class="search-page-filter collapse" id="collapseFilterType">
            <% $filter_1_values.each do |item| %>
              <p class="filter-option">
              <input value="1" class="checkbox-input" type="checkbox" name="<%= item.field_value %>" id="<%= item.field_value %>" />
              <label class="checkbox-label" for="<%= item.field_value %>"><%= item.field_value.gsub("?","") %></label>
              </p>
            <% end %>
          </div>

          <a class="input btn btn-lg btn-filter btn-search-page" role="button" data-toggle="collapse" href="#collapseFilterResidence" aria-expanded="false" aria-controls="collapseFilterResidence"><span class="glyphicon glyphicon-menu-down"></span> Residential requirements</a>
          <div class="search-page-filter collapse" id="collapseFilterResidence">
            <% $filter_2_values.each do |item| %>
              <p class="filter-option">
              <input value="2" class="checkbox-input" type="checkbox" name="<%= item.field_value %>" id="<%= item.field_value %>" />
              <label class="checkbox-label" for="<%= item.field_value %>"><%= item.field_value.gsub("?","") %></label>
              </p>
            <% end %>
          </div>

          <a class="input btn btn-lg btn-filter btn-search-page" role="button" data-toggle="collapse" href="#collapseFilterPrograms" aria-expanded="false" aria-controls="collapseFilterPrograms">
          <span class="glyphicon glyphicon-menu-down"></span> Predental programs</a>
          <div class="search-page-filter collapse" id="collapseFilterPrograms">
            <% $filter_3_values.each do |item| %>
              <p class="filter-option">
              <input value="3" class="checkbox-input" type="checkbox" name="<%= item.field_value %>" id="<%= item.field_value %>" />
              <label class="checkbox-label" for="<%= item.field_value %>"><%= item.field_value.gsub("?","") %></label>
              </p>
            <% end %>
          </div>

          <a class="input btn btn-lg btn-filter btn-search-page" role="button" data-toggle="collapse" href="#collapseFilterLocation" aria-expanded="false" aria-controls="collapseFilterLocation"><span class="glyphicon glyphicon-menu-down"></span> State/Territory/Province</a>
          <div class="search-page-filter collapse" id="collapseFilterLocation">
            <div style="height:150px; overflow-y:scroll;">
              <% $filter_4_values.each do |item| %>
                <p class="filter-option">
                <input value="4" class="checkbox-input" type="checkbox" name="<%= item.field_value %>" id="<%= item.field_value %>" />
                <label class="checkbox-label" for="<%= item.field_value %>"><%= item.field_value.gsub("?","") %></label>
                </p>
              <% end %>
            </div>
           <p>&nbsp;</p>
          </div>

          <a class="input btn btn-lg btn-filter btn-search-page" role="button" data-toggle="collapse" href="#collapseFilterDegrees" aria-expanded="false" aria-controls="collapseFilterDegrees"><span class="glyphicon glyphicon-menu-down"></span> Degree offered</a>
          <div class="search-page-filter collapse" id="collapseFilterDegrees">
            <% $filter_5_values.each do |item| %>
            <p class="filter-option">
            <input value="5" class="checkbox-input" type="checkbox" name="<%= item.field_value %>" id="<%= item.field_value %>" />
              <label class="checkbox-label" for="<%= item.field_value %>"><%= item.field_value.gsub("?","") %></label>
            </p>
            <% end %>
          </div>
          <%= submit_tag("Filter", class: 'btn btn-primary btn-lg input') %>

        <% end %>
      </div>
    </div>

    <div class="col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-8 col-sm-7">
      <br />
      <h4>Filtered by:</h4>

      <% if ( !@values_to_search_1.empty? ) %>
        <p>Type of institution: <%= @values_to_search_1.join(', ') %></p>
      <% end %>
      <% if ( !@values_to_search_2.empty? ) %>
        <p>Residency requirements: <%= @values_to_search_2.join(', ') %></p>
      <% end %>
      <% if ( !@values_to_search_3.empty? ) %>
        <p>Predental programs offered: <%= @values_to_search_3.join(', ') %></p>
      <% end %>
      <% if ( !@values_to_search_4.empty? ) %>
        <p>State/Territory/Province: <%= @values_to_search_4.join(', ') %></p>
      <% end %>
      <% if ( !@values_to_search_5.empty? ) %>
        <p>Degree offered: <%= @values_to_search_5.join(', ') %></p>
      <% end %>

      <p><%= link_to( 'Show all schools' , {:action => 'index'}, :class => 'btn btn-primary btn-sm' ) %></p>

      <h2>Search result: <%= pluralize(@programs.size, 'Dental School') %></h2>

      <% @programs.each do |p| %>
        <h3><%= link_to( p.program , {:controller => 'programs', :action => 'information', :id => p.id} ) %></h3>
        <p><a class="btn btn-primary" href="information/<%=p.id%>">VIEW SCHOOL</a></p>
        <hr />
      <% end %>
    </div>
  </div>
