  <div class="search-page row overlay">
    <div class="overlay col-sm-5 col-md-4 col-lg-3">
    <p>&nbsp;</p>
      <a id="btn-search-filters" class="btn btn-lg btn-primary btn-header collapsed nodisplay" role="button" data-toggle="collapse" href="#collapseAllFilters" aria-expanded="false" aria-controls="collapseAllFilters"><span class="glyphicon glyphicon-menu-down nodisplay"></span> Search Filters</a>
      <div class="collapse in" id="collapseAllFilters">

        <%= render 'form' %>

      </div>
    </div>

    <div class="overlay col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-8 col-sm-7">
      <br />
      <h4>Filtered by:</h4>

      <% if ( !params['q'].blank? ) %>
        <p>Keywords: <%= params['q'] %></p>
      <% end %>
      <% if ( !@values_to_search_1.empty? ) %>
        <p>Type of institution: <%= @values_to_search_1.join(', ') %></p>
      <% end %>
      <% if ( !@values_to_search_2.empty? ) %>
        <p>Residency requirements: <%= @values_to_search_2.join(', ') %></p>
      <% end %>
      <% if ( !@values_to_search_3.empty? ) %>
        <p>Predental programs offered: <%= @values_to_search_3.join(', ') %></p>
      <% end %>
      <% if ( !@values_to_search_4.empty? ) %>
        <p>State/Territory/Province: <%= @values_to_search_4.join(', ') %></p>
      <% end %>
      <% if ( !@values_to_search_5.empty? ) %>
        <p>Degree offered: <%= @values_to_search_5.join(', ') %></p>
      <% end %>


      <p><%= link_to( 'Show all schools' , {:action => 'index'}, :class => 'btn btn-primary btn-sm' ) %></p>

      <h2>Search result: <%= pluralize(@programs.size, 'Dental School') %></h2>

      <%= render 'show_programs' %>

    </div>
  </div>
