<div id="<%= @schools.id %>" style="width: 80%; margin: 0 auto;">
  <div style="background-color: grey; color: white; margin-top: 2em;">
  <h2><strong><%= @schools.university %><strong></h2>
  </div>
  <h3><%= @schools.school %> - <%= @schools.state %></h3>
  <p><%= @schools.dean %>
  <p>&nbsp;</p>
  <h4>General Information</h4>
  <p><%= @schools.general_information %>
  <h4>Mission</h4>
  <p><%= @schools.mission %></p>
  <h4>Fast Facts</h4>
  <p>Type of institution: <%= @schools.type_of_institution %><br/>
  Year opened: <%= @schools.year_opened %><br/>
  Term type: <%= @schools.term_type %><br/>
  Time to degree in months: <%= @schools.time_to_degree %><br/>
  Start month: <%= @schools.start_month %><br/>
  Doctoral dental degree offered: <%= @schools.doctoral_degree %><br/>
  Targeted predoctoral enrollment: <%= @schools.targeted_predoctoral %><br/>
  Targeted entering class size: <%= @schools.targeted_class_size %><br/>
  Campus setting: <%= @schools.campus_setting %><br/>
  Campus housing: <%= @schools.campus_housing %></p>
  <h4>Curriculum</h4>
  <p><%= @schools.curriculum %></p>
  <p>Student research opportunities available? <%= @schools.research_opportunities %><br/>
  Degree programs available that can be combined with doctoral dental degree: <%= @schools.degree_programs %>
  <p><%= link_to( 'Back to schools list' , {:action => 'index'} ) %></p>
</div>
