  <div class="mobile-signin">
    <a href="#signin" class="btn btn-lg btn-primary">SIGN IN</a>
  </div>
  <div class="row">
    <a id="signin"></a>
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
      <div class="block block-blue">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
        <h1>Sign In</h1>

        <%= form_for @user_session do |f| %>
          <%= render 'shared/errors', object: @user_session %>

          <div class="form-group">
            <%= f.label :login %>
            <%= f.text_field :login, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>

          <div class="form-group">
         
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <div>
          <!-- Button trigger modal -->
            You must agree to <a href="" data-toggle="modal" data-target="#myModal">the terms of use.</a>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Terms of Use</h4>
                  </div>
                  <div class="modal-body">
                    <p>Terms and Conditions are a set of rules and guidelines that a user must agree to in order to use your website or mobile app. It acts as a legal contract between you (the company) who has the website or mobile app and the user who access your website and mobile app.

                    It’s up to you to set the rules and guidelines that the user must agree to. You can think of your Terms and Conditions agreement as the legal agreement where you maintain your rights to exclude users from your app in the event that they abuse your app, and where you maintain your legal rights against potential app abusers, and so on.

                    Terms and Conditions are also known as Terms of Service or Terms of Use.

                    This type of legal agreement can be used for both your website and your mobile app. It’s not required (it’s not recommended actually) to have separate Terms and Conditions agreements: one for your website and one for your mobile app.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="form-group">
            <input aria-describedby="usr-terms" type="checkbox" name="user-terms" id="user-terms" />
            <label for="user-terms">Yes, I agree to the terms.</label>
          </div>
          <%= f.submit "LOG IN", class: 'btn btn-inverse btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>

