<!DOCTYPE html>
<html>
  <head>
    <title>Dental Schools Directory</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <!-- fontawesome embed -->
    <script src="https://use.fontawesome.com/5446d1f9f0.js"></script>
    <!-- google font embed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">


  </head>

  <body>
    <header>
      <div data-role="toolbar" data-position="fixed" class="navbar-header">
        <div class="logo">
          <a class="logo-link" href="/index"><%= image_tag("adealogo.png", class: "logo-img") %></a>
          <p class="logo-text"><a class="logo-link" href="/index">ADEA Dental Schools Explorer</a></p>
        </div>
      </div>
      <div class="header-nav">
        <% # if current_user %>

        <% if @display_username %>

              <!-- <a class="btn navbar-btn btn-inverse" href="/index"><span class="glyphicon glyphicon-search"></span></a> -->
              <%= link_to 'SIGN OUT', sign_out_path, method: :delete, class: "btn navbar-btn btn-inverse" %>
        <% end %>
      </div>

    </header>

    <div class="container">

      <%= yield %>
      <p>&nbsp;</p>
    </div>

<!--    <footer>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <p><a href="http://www.adea.org/" target="_blank">©2017 American Dental Education Association® (ADEA)</a><br />
          655 K Street, NW, Suite 800<br />
          Washington, DC 20001  <br />
          202-289-7201</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
          <p><a href="http://www.adea.org/GoDental/" target="_blank">ADEA: GoDental</a></p>
          <p><a href="/terms">Terms of use</a></p>
          <p><a href="">Privacy Policy</a></p>
        </div>
    </footer> -->
    <footer>
      <div class="row">

        <div class="col-sm-4 col-md-3 col-sm-push-8 col-md-push-9">
          <ul class="footer-social">
            <li class="facebook"><a href="https://www.facebook.com/ADEAGoDental1" target="_blank"><img src="http://www.adea.org/uploadedImages/GoDental/Icons/facebook.png" alt=""></a></li>
            <li class="twitter"><a href="https://twitter.com/adeagodental" target="_blank"><img src="http://www.adea.org/uploadedImages/GoDental/Icons/twitter.png" alt=""></a></li>
            <li class="youtube"><a href="http://www.youtube.com/user/AADSASAnswers" target="_blank"><img src="http://www.adea.org/uploadedImages/GoDental/Icons/youtube.png" alt=""></a></li>
            <li class="instagram"><a href="http://instagram.com/adeagodental/" target="_blank"><img src="http://www.adea.org/uploadedImages/GoDental/Icons/Instagram ICON FOR WEBSITE.png" alt=""></a></li>
          </ul>
          <a id="ctl00_ctlSignupNewsletter_HyperLink1" class="btn btn-red btn-block btn-large signup-button" href="https://access.adea.org/adeassa/censsacustmast.insert_page?p_return_page=Login_Page&amp;p_varname=p_val_arr%5b0%5d&amp;p_colname=p_last_nm&amp;p_varname=p_val_arr%5b1%5d&amp;p_colname=p_alias&amp;p_varname=p_val_arr%5b2%5d&amp;p_colname=p_login_id&amp;p_varname=p_val_arr%5b3%5d&amp;p_colname=p_passwd&amp;p_context=GODENT" target="_blank">Sign Up For Our Newsletter!</a>
        </div>

        <div class="col-sm-8 col-md-9 col-sm-pull-4 col-md-pull-3">
          <ul class="footer-links clearfix">
            <li><a href="http://www.adea.org/GoDental/About_ADEA_GoDental.aspx" target="_self">ADEA GoDental</a></li>
            <li><a href="http://www.adea.org/GoDental/Our_Mission.aspx" target="_self">Our Mission</a></li><li><a href="http://www.adea.org/GoDental/ADEA_GoDental_Privacy_Policy.aspx" target="_self">Privacy Policy</a></li>
            <li><a href="http://www.adea.org/GoDental/Site_Pages/Contact_Us.aspx" target="_self">Contact Us</a></li>
            <!-- <li><a href="http://www.adea.org/GoDental/Sitemap.aspx" target="_self">Sitemap</a></li> -->
          </ul>
          <ul class="footer-links clearfix">
            <li><a href="http://www.adea.org/about_adea/Pages/default.aspx" target="_self">About ADEA</a></li>
            <li><a href="http://www.adea.org/about_adea/MembershipInformation/Pages/default.aspx" target="_self">Membership</a></li>
            <li><a href="http://www.adea.org/Secondary.aspx?id=17137" target="_self">Education &amp; Events</a></li>
            <li><a href="http://www.adea.org/policy_advocacy/Pages/default.aspx" target="_self">Policy</a></li>
            <li><a href="http://adea.org/advocacy" target="_self">Advocacy</a></li>
            <li><a href="http://www.adea.org/publications/Pages/default.aspx" target="_self">Publications &amp; Data</a></li>
            <li><a href="http://www.adea.org/Secondary.aspx?id=17139" target="_self">Career Center</a></li>
          </ul>
        </div>

      </div>
      <div class="copyright">
        ©2017 American Dental Education Association, 655 K Street, NW, Suite 800, Washington, DC 20001. Phone (202) 289-7201.
      </div>
    </footer>

  </body>
</html>
<script>

    $(".btn-header").click(function(){
        $(this).find('> span').toggleClass("arrowup");
        console.log("arrow up");
    });

    if ($(window).width() < 768) {
        $("#collapseAllFilters").removeClass("in");
    } else {
        $("#collapseAllFilters").addClass("in");
    }


</script>
