<!DOCTYPE html>
<html>
  <head>
    <title>Dental Schools Directory</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <!-- fontawesome embed -->
    <script src="https://use.fontawesome.com/5446d1f9f0.js"></script>
    <!-- google font embed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">


  </head>

  <body>
    <header>
      <div data-role="toolbar" data-position="fixed" class="navbar-header">
        <div class="logo">
        <a class="logo-link" href="/index"><%= image_tag("adealogo.png", class: "logo-img") %>
        <span class="logo-text">Official Guide to Dental Schools</span></a>
        </div>
      </div>
      <div class="header-nav">
        <% if current_user %>
            <button class="btn navbar-btn btn-inverse ">
              <a href="/index"><span class="glyphicon glyphicon-search"></span></a>
            </button>
          

          <button class="btn navbar-btn btn-inverse "><%= link_to 'Sign Out', sign_out_path, method: :delete %></button></p>
        <% end %>
      </div>
          
    </header>
    <div class="main-img">
       <%= image_tag('dental-stock2.jpg') %>
    </div>
    <div class="container">

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      American Dental Education Association
    </footer>
  </body>
</html>
